<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sreejan</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styleadd.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    

</head>
<body>

    <div class="sidebar">
        <div class="sidebar-brand">
           
            <h2> <span class="las la-tree"></span> HRMS </h2>
            
        </div>
        
    
   
    
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="" class="active"> <span class="las la-igloo"></span><span>Dashboard</span></a>
            </li>
    
            <li class="item" id="employee details" >
                <a href="#employee details " class="menu-btn"> 
                    <i class="las la-server"></i><span>Employee Master <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                <a href="/employee"><span class="las la-user-edit"></span><span></span>Employee </span></a>
                <a href="/left"><span class="las la-user-edit"></span><span></span>Left Employee</span></a>    
             

              </div>

            </li>
            <li class="item" id="leave" >
                <a href="#leave " class="menu-btn"> 
                    <i class="las la-server"></i><span>Leave <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/leave_request"><span class="las la-user-edit"></span><span></span>Leave Request</span></a>  
                <a href="/verify"><span class="las la-user-check"></span><span></span>Verify</span></a>    
                <a href="/leave_approval"><span class="las la-user-check"></span><span></span>Leave Approval</span></a>    

                
              </div>
            </li>
            <li class="item" id="salary" >
                <a href="#salary " class="menu-btn"> 
                    <i class="las la-server"></i><span>Salary <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/review_pay_roll"><span class="las la-money-check"></span><span></span>Review Pay Roll</span></a>  
                <a href="/approve_pay_roll"><span class="las la-money-check"></span><span></span>Approve Pay Roll</span></a>    
                <a href="/generate_pay_roll"><span class="las la-money-check"></span><span></span>Generate Pay Roll</span></a>  
                
                
              </div>
            </li>
            <li class="item" id="attendance" >
                <a href="#attendance " class="menu-btn"> 
                    <i class="las la-server"></i><span>Attendance <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
            <a href="/attendance_request"><span class="las la-user-edit"></span><span></span>Attendance Request</span></a>
            <a href="/attendance_verification"><span class="las la-user-check"></span><span></span>Attendance Verification</span></a>
            <a href="/attendance_approval"><span class="las la-user-check"></span><span></span>Attendance Approval</span></a>

                
              </div>
            </li>
            <li class="item" id="pms" >
                <a href="#pms " class="menu-btn"> 
                    <i class="las la-server"></i><span>PMS <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/pms_field"><span class="las la-user-edit"></span><span></span>PMS Field</span></a>
                <a href="/pms_for_confirmation"><span class="las la-user-check"></span><span></span>PMS For Confirmation</span></a>
                <a href="/pms_ho"><span class="las la-user-edit"></span><span></span>PMS HO</span></a>
                <a href="/promotion"><span class="las la-user-check"></span><span></span>Promotion</span></a>
                
              </div>
            </li>
            <li class="item" id="recruitment" >
                <a href="#recruitment " class="menu-btn"> 
                    <i class="las la-server"></i><span>Recruitment <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
               
                <a href="/interview"><span class="las la-file-alt"></span><span></span>Interview</span></a>
                <a href="/initial_data"><span class="las la-calendar-day"></span><span></span>Initial Data</span></a>
                <a href="/verify"><span class="las la-user-check"></span><span></span>Verify</span></a>
                <a href="/ho_approval"><span class="las la-user-check"></span><span></span>HO Approval</span></a>

                
              </div>
            </li>
            <li class="item" id="training" >
                <a href="#training " class="menu-btn"> 
                    <i class="las la-server"></i><span>Training <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/introduction_training"><span  class="las la-users-cog"></span><span></span>Introduction Training</span></a>
                <a href="/refresher_training"><span class="las la-users-cog"></span><span></span>Refresher Training</span></a>
         
             
                
              </div>
            </li>
            <li class="item" id="report" >
                <a href="#report " class="menu-btn"> 
                    <i class="las la-server"></i><span>Report <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/staff_report"><span class="las la-edit"></i></span><span></span>Staff Report</a></span>
                <a href="/salary_report"><span class="las la-money-check-alt"></span><span></span>Salary Report</a></span>
                <a href="/salary_payment"><span  class="las la-money-check-alt"></span><span></span>Salary Payment</a></span>
                <a href="/new_employee_hired"><span class="las la-user-check"></span><span></span>New Employee Hired</a></span>
                <a href="/dropout_employee"><span class="las la-user-alt-slash"></span><span></span>Dropout Employee</a></span>
                <a href="/attrition_rate"><span class="las la-signal"></span><span></span>Attrition Rate</a></span>
                <a href="/employee_attendance_report"><span  class="las la-edit"></span><span></span>Employee Attendance Report</a></span>
                <a href="/employee_attendance_register"><span  class="las la-edit"></span><span></span>Employee Attendance Register</a></span>
                <a href="/salary_hold"><span  class="las la-money-check"></span><span></span>Salary Hold</a></span>
                <a href="/transfer_history"><span class="las la-file-export"></span><span></span>Transfer History</a></span>
                <a href="/branch_list"><span class="las la-scroll"></span><span></span>Branch List</a></span>
                <a href="/final_settlement_of_employee"><span  class="las la-users-cog"></span><span></span>Final Settlement Of Employee</a></span>
                <a href="/holiday_list"><span  class="las la-scroll"></span><span></span>Holiday List</a></span>
                <a href="/leave_report"><span  class="las la-edit"></span><span></span>Leave Report</a></span>
                <a href="/leave_register"><span  class="las la-edit"></span><span></span>Leave Register</a></span>
                <a href="/salary_increament_report"><span  class="las la-money-check"></span><span></span>Salary Increament Report</a></span>
                <a href="/id_card_delivery_report"><span  class="las la-edit"></span><span></span>Id Card Delivery Report</a></span>
                <a href="/employee_insurance_report"><span  class="las la-edit"></span><span></span>Employee Insurance Report</a></span>
                
                
              </div>
            </li>

            <li class="item" id="administrative" >
                <a href="#administrative " class="menu-btn"> 
                    <i class="las la-server"></i><span>Administrative <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/field_level"><span class="las la-level-up-alt"></span><span></span>Field Level</a></span>
                <a href="/ho_level"><span  class="las la-level-up-alt"></span><span></span>HO Level</a></span>
                
              </div>
            </li>

            <li class="item" id="allowance" >
                <a href="#allowance " class="menu-btn"> 
                    <i class="las la-server"></i><span>Allowance <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/motor_allowance"><span class="las la-check-square"></span><span></span>Motor Allowance</a></span>
                <a href="/mess_allowance"><span class="las la-check-square"></span><span></span>Mess Allowance</a></span>
                <a href="/other_allowance"><span class="las la-check-square"></span><span></span>Other Allowance</a></span>
                <a href="/office_rent"><span class="las la-money-check"></span><span></span>Office Rent</a></span>
                <a href="/office_argument"><span class="las la-users"></span><span></span>Office Argument</a></span>
                   
              </div>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
       <h2>
         Add Employee
           
        </h2>

        
        <div class="add-wrapper">
         <a href="/employee"><span class="las la-plus"></span><span>Employee</a></span>
        </div>
        


        <div class="home-wrapper">
          <a href="/home"><span class="las la-home"></span><span>Home</a></span>
         </div>
        <!-- <div class="employee-wrapper">
          <a href="/employee-master"><span>Employee Master</a></span>
         </div> -->
        <div class="addemp-wrapper">
          <a href="/add"><span>Add  Employee </a></span>
         </div>

          

    </header>

    <main>

        <div class="card">
    
        <ul>

            <li class="note" id="employee_register" >
              <a href="#employee_register " class="menu-item"> 
                <span>Employee Register <i class="las la-angle-down"></i> </span>
              </a>
            <div class="sub-item">

              
             <div class="row">

              <form action="/add" enctype="multipart/form-data" id="add-form" method="POST">
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="phone">
                </div>
    
                <div class="form-group">
                <label for="exampleFormControlSelect1" >Blood Group</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Blood Group" name="bloodgroup">

                </div>
                <div class="form-group">
                <label for="exampleFormControlSelect1" >Joining Date</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Joining Date" name="joiningdate">

                </div>
                <div class="form-group">
                <label for="exampleFormControlSelect1" >Branch</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Branch" name="branch">

                </div>
                <div class="form-group">
                <label for="exampleFormControlSelect1" >Designation</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Designation" name="designation">

                </div>
               
                <div class="form-group">
                <label for="exampleFormControlSelect1" >Upload File</label>
                <input type="file"  class="inp"class="form-control"  name="image">

                </div>
               
                <div class="bold">Bank Details Of Employee </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1" >Bank Name</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Bank Name" name="bankname">
  
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1" >Bank Account Number</label>
                  <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Bank Account Number" name="bankaccountnumber">
  
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1" >IFSC Code</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="IFSC Code" name="ifsc">
  
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1" >Bank Branch Name</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Bank Branch Name" name="branchname">
  
                </div>
              

              </div>
                
              
            </div>
          </li>




            <li class="note" id="qualification_details" >
              <a href="#qualification_details " class="menu-item"> 
                <span>Qualification Details <i class="las la-angle-down"></i> </span>
              </a>
            <div class="sub-item">


              <div class="row">

               
                  <div class="form-group">
                      <label for="exampleInputPassword1">Exam</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Exam" name="exam">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Pass Year</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Pass Year" name="passyear">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Subject</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject" name="subject">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Class</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Class" name="clas">
                  </div>
                  
                          
                </div>
                
              
            </div>
          </li>



            <li class="note" id="personal_details" >
              <a href="#personal_details " class="menu-item"> 
                <span>Personal Details <i class="las la-angle-down"></i> </span>
              </a>
            <div class="sub-item">


              <div class="row">

               
                  <div class="form-group">
                      <label for="exampleInputPassword1">First Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="First Name" name="firstname">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Mid Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mid Name" name="midname">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Last Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name" name="lastname">
                  </div>
                 
                  <div class="form-group">
                      <label for="exampleInputPassword1">Gender :</label>
                     
                        <input class="form-check-input" type="radio" value="Male" name="gender" id="flexRadioDefault1">Male
                       <input class="form-check-input" type="radio" value="Female" name="gender"  id="flexRadioDefault2" > FeMale
                       <input class="form-check-input" type="radio" value="Others" name="gender" id="flexRadioDefault2" required>Others
                      
                  </div>

                  <div class="form-group">
                      <label for="exampleInputPassword1">Identification Marks :</label>
                     
                        <input class="form-check-input" type="radio" value="yes" name="identificationmark" id="flexRadioDefault1">yes
                       <input class="form-check-input" type="radio" value="no" name="identificationmark"  id="flexRadioDefault2" required> no
         
                      
                  </div>


                 
                 
                <div class="bold">Personal Vehicle Details </div>
               
                <div class="form-group">
                  
                  <input class="form-check-input" type="radio" value="bike" name="vehicle" id="flexRadioDefault1"> Bike
                 <input class="form-check-input" type="radio" value=" cycle" name="vehicle"  id="flexRadioDefault2" > Cycle
                 <input class="form-check-input" type="radio" value="car" name="vehicle" id="flexRadioDefault2"  required> Car
                
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Vehicle Registration Number</label>
                  <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Vehicle Registration Number" name="registrationno">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">License Number</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="License Number" name="licenseno">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">License Validity Date</label>
              <input type="date" class="form-control" id="exampleInputPassword1" placeholder="License Validity Date" name="validity">
          </div>
                

                </div>
                
              
            </div>
          </li>






            <li class="note" id="family_details" >
              <a href="#family_details " class="menu-item"> 
                <span>Family Details <i class="las la-angle-down"></i> </span>
              </a>
            <div class="sub-item">


              <div class="row">

                
                  <div class="form-group">
                      <label for="exampleInputPassword1">Relationship with Family</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Relationship with Family" name="relation">
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputPassword1">DOB</label>
                    <input type="date" class="form-control" id="exampleInputPassword1" placeholder="DOB" name="dateofbirth">
                </div>
                  
                  
                </div>
                
            </div>
          </li>




            <li class="note" id="document_details" >
              <a href="#document_details " class="menu-item"> 
                <span>Document Details <i class="las la-angle-down"></i> </span>
              </a>
            <div class="sub-item">


              <div class="row">


                <div class="form-group">
                  
                    <input class="form-check-input" type="radio" value="aadhaar" name="detail" id="flexRadioDefault1"> Aadhaar Card
                   <input class="form-check-input" type="radio" value=" voter" name="detail"  id="flexRadioDefault2" > Voter Card
                   <input class="form-check-input" type="radio" value="pan" name="detail" id="flexRadioDefault2"  required> Pan Card
                  
              </div>
            
                  <div class="form-group">
                      <label for="exampleInputPassword1">ID Type</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="ID Type" name="idtype">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">ID Number</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="ID Number" name="idnumber">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Issue Date</label>
                      <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Issue Date" name="issuedate">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Expiry Date</label>
                      <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Expiry Date" name="expdate">
                  </div>
                  
                
                </div>
                
              
            </div>
          </li>






            <li class="note" id="address_details" >
              <a href="#address_details " class="menu-item"> 
                <span>Address Details <i class="las la-angle-down"></i> </span>
              </a>
            <div class="sub-item">


              <div class="row">

            
                  <div class="form-group">
                      <label for="exampleInputPassword1">Mobile No</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile No" name="mobileno">
                  </div>
                  
                  <!-- <div class="form-group">
                      <label for="exampleInputPassword1">License 1</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="License 1" name="license1">
                  </div> -->
                  <!-- <div class="form-group">
                      <label for="exampleInputPassword1">License 2</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="License 2" name="license2">
                  </div> -->
                  <div class="form-group">
                      <label for="exampleInputPassword1">Village</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Village" name="village">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Post Office</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Post Office" name="postoffice">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Landmark</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Landmark" name="landmark">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Police Station</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Police Station" name="policestation">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Dist</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Dist" name="dist">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">State</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="State" name="state">
                  </div>
                  
                  <div class="form-group">
                      <label for="exampleInputPassword1">Pin </label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Pin" name="pin">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Emergency Contact No </label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Emergency Contact No" name="emergencyno">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Any Other Address </label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Any Other Address" name="anotherad">
                  </div>
                  
                  
                  <button type="submit" class="btn-style ">Submit</button>
                  </form>
                  
                
                </div>
                
              
            </div>
          </li>
           
        </ul>
    </main>

</div>






















