<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/header') %>
</head>
<body>

    <%- include('layout/navbar') %>
   
    
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="" class="active"> <span class="las la-igloo"></span><span>Dashboard</span></a>
            </li>
    
            <li class="item" id="employee details" >
                <a href="#employee details " class="menu-btn"> 
                    <i class="las la-server"></i><span>Employee Master <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                <a href="/employee"><span class="las la-user-edit"></span><span>Employee </span></a>
                <a href="/left"><span class="las la-user-edit"></span><span>Left Employee</span></a>    
             

              </div>

            </li>
            <li class="item" id="leave" >
                <a href="#leave " class="menu-btn"> 
                    <i class="las la-server"></i><span>Leave <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/leave_request"><span class="las la-user-edit"></span><span>Leave Request</span></a>  
                <a href="/verify"><span class="las la-user-check"></span><span>Verify</span></a>    
                <a href="/leave_approval"><span class="las la-user-check"></span><span>Leave Approval</span></a>    

                
              </div>
            </li>
            <li class="item" id="salary" >
                <a href="#salary " class="menu-btn"> 
                    <i class="las la-server"></i><span>Salary <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/review_pay_roll"><span class="las la-money-check"></span><span>Review Pay Roll</span></a>  
                <a href="/approve_pay_roll"><span class="las la-money-check"></span><span>Approve Pay Roll</span></a>    
                <a href="/generate_pay_roll"><span class="las la-money-check"></span><span>Generate Pay Roll</span></a>  
                
                
              </div>
            </li>
            <li class="item" id="attendance" >
                <a href="#attendance " class="menu-btn"> 
                    <i class="las la-server"></i><span>Attendance <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
            <a href="/attendance_request"><span class="las la-user-edit"></span><span>Attendance Request</span></a>
            <a href="/attendance_verification"><span class="las la-user-check"></span><span>Attendance Verification</span></a>
            <a href="/attendance_approval"><span class="las la-user-check"></span><span>Attendance Approval</span></a>

                
              </div>
            </li>
            <li class="item" id="pms" >
                <a href="#pms " class="menu-btn"> 
                    <i class="las la-server"></i><span>PMS <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/pms_field"><span class="las la-user-edit"></span><span>PMS Field</span></a>
                <a href="/pms_for_confirmation"><span class="las la-user-check"></span><span>PMS For Confirmation</span></a>
                <a href="/pms_ho"><span class="las la-user-edit"></span><span>PMS HO</span></a>
                <a href="/promotion"><span class="las la-user-check"></span><span>Promotion</span></a>
                
              </div>
            </li>
            <li class="item" id="recruitment" >
                <a href="#recruitment " class="menu-btn"> 
                    <i class="las la-server"></i><span>Recruitment <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
               
                <a href="/interview"><span class="las la-file-alt"></span><span>Interview</span></a>
                <a href="/initial_data"><span class="las la-calendar-day"></span><span>Initial Data</span></a>
                <a href="/verify"><span class="las la-user-check"></span><span>Verify</span></a>
                <a href="/ho_approval"><span class="las la-user-check"></span><span>HO Approval</span></a>

                
              </div>
            </li>
            <li class="item" id="training" >
                <a href="#training " class="menu-btn"> 
                    <i class="las la-server"></i><span>Training <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/introduction_training"><span  class="las la-users-cog"></span><span>Introduction Training</span></a>
                <a href="/refresher_training"><span class="las la-users-cog"></span><span>Refresher Training</span></a>
         
             
                
              </div>
            </li>
            <li class="item" id="report" >
                <a href="#report " class="menu-btn"> 
                    <i class="las la-server"></i><span>Report <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/staff_report"><span class="las la-edit"></i></span><span>Staff Report</a></span>
                <a href="/salary_report"><span class="las la-money-check-alt"></span><span>Salary Report</a></span>
                <a href="/salary_payment"><span  class="las la-money-check-alt"></span><span>Salary Payment</a></span>
                <a href="/new_employee_hired"><span class="las la-user-check"></span><span>New Employee Hired</a></span>
                <a href="/dropout_employee"><span class="las la-user-alt-slash"></span><span>Dropout Employee</a></span>
                <a href="/attrition_rate"><span class="las la-signal"></span><span>Attrition Rate</a></span>
                <a href="/employee_attendance_report"><span  class="las la-edit"></span><span>Employee Attendance Report</a></span>
                <a href="/employee_attendance_register"><span  class="las la-edit"></span><span>Employee Attendance Register</a></span>
                <a href="/salary_hold"><span  class="las la-money-check"></span><span>Salary Hold</a></span>
                <a href="/transfer_history"><span class="las la-file-export"></span><span>Transfer History</a></span>
                <a href="/branch_list"><span class="las la-scroll"></span><span>Branch List</a></span>
                <a href="/final_settlement_of_employee"><span  class="las la-users-cog"></span><span>Final Settlement Of Employee</a></span>
                <a href="/holiday_list"><span  class="las la-scroll"></span><span>Holiday List</a></span>
                <a href="/leave_report"><span  class="las la-edit"></span><span>Leave Report</a></span>
                <a href="/leave_register"><span  class="las la-edit"></span><span>Leave Register</a></span>
                <a href="/salary_increament_report"><span  class="las la-money-check"></span><span>Salary Increament Report</a></span>
                <a href="/id_card_delivery_report"><span  class="las la-edit"></span><span>Id Card Delivery Report</a></span>
                <a href="/employee_insurance_report"><span  class="las la-edit"></span><span>Employee Insurance Report</a></span>
                
                
              </div>
            </li>

            <li class="item" id="administrative" >
                <a href="#administrative " class="menu-btn"> 
                    <i class="las la-server"></i><span>Administrative <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/field_level"><span class="las la-level-up-alt"></span><span>Field Level</a></span>
                <a href="/ho_level"><span  class="las la-level-up-alt"></span><span>HO Level</a></span>
                
              </div>
            </li>

            <li class="item" id="allowance" >
                <a href="#allowance " class="menu-btn"> 
                    <i class="las la-server"></i><span>Allowance <i class="fas fa-caret-down first"></i> </span>
                </a>
              <div class="sub-menu">
                
                <a href="/motor_allowance"><span class="las la-check-square"></span><span>Motor Allowance</a></span>
                <a href="/mess_allowance"><span class="las la-check-square"></span><span>Mess Allowance</a></span>
                <a href="/other_allowance"><span class="las la-check-square"></span><span>Other Allowance</a></span>
                <a href="/office_rent"><span class="las la-money-check"></span><span>Office Rent</a></span>
                <a href="/office_argument"><span class="las la-users"></span><span>Office Argument</a></span>
                   
              </div>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
       <h2>
           <label for="">
               <span class="las la-bars"></span>
           </label>
           Dashboard
       </h2>
       

       <div class="home-wrapper">
        <a href="/home"><span class="las la-home"></i></span><span>Home</a>
       </div>

       <div class="user-wrapper">
        <img src="img/tre.png" width="30px" height="30px" alt="">
        <div>
            <h4>SREEJAN</h4>
            <small>Super admin</small>
        </div>
       </div>

    </header>

  <main>

        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>0</h1>
                    <span>PERMANENT EMPLOYEE</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>0</h1>
                    <span>WORKERS</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>0</h1>
                    <span>OTHERS</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
           
            </div>
          </div>
        </main>
        
      </div>
      
      
      
      
      
    
      
    
      
      
      
      
    
      
      
      
      
      
      
    
      
      
